 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eb639a;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

h2{
    color: #46092e;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-family: arima;
}
h3{
    color: #cb1a84;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-family: arima;
}
.logo {
    position: absolute; 
    left: 30px; 
    top: 4%; 
    padding: 0; 
}


.logo img {
    width: 70px; 
    height: auto;
}


nav {
    font-family: Playfair display;
    display: flex;
    justify-content: space-between; /* Alinea el logo a la izquierda y el menú a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav a:hover {
    background-color: rgb(109, 15, 73); /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero {
    background-image: url('Imagenes/fondo.jpg');
    background-size:auto;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  
}

.hero-content h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    animation: fadeInDown 1s ease-in-out;
}

p1{
    font-family: playfair display;
    font-size: 15px;
    color: #000000;
}

.btn {
    background-color: #8f055a;
    color: white;
    font-family: Playfair Display;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 4%;
}

.btn:hover {
    background-color: #46092e; /* Efecto hover */
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        border-radius: 25px;
        font-size: 16px;
        margin: 0 30px;
    }


.product-grid {
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-10px); /* Efecto de elevación */
}

footer {
    background-color: #eb639a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin: 10px 0;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    color: #46092e; 
}

.social-media a {
    margin: 0 10px;
    font-size: 24px; 
}

.social-media a i {
    color: #fff;
}

.social-media a:hover i {
    color: #46092e; 
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p{
    font-family: Arima;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


.product-card img {
    max-width: 100%;  
    height: auto;     
    border-radius: 8px; 
}


.product-card img {
    width: 100%; 
    max-width: 300px;  
    height: auto;
    object-fit: cover; 
}

